body {
    margin: 0;
    padding: 0;
    --img_color: rgb(139, 138, 138);
    --header_blue: #9abdff;
    --text-color: black;
    --subheading-color: black;
    --heading_color: black;
}

.content_body {
    margin: 0rem 7rem;
}

h1 {
    font-size: 2rem;
    font-weight: 100;
    padding: 0.5rem;
}

/*--------------------------------------- HEADER ------------------------*/
.header {
    margin: 0;
    background-color: var(--header_blue);
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.09fr;
}

.header_img {
    margin: 1rem;
    width: 4rem;
}

.header .links {
    margin-top: 2.5rem;
    display: flex;
}

.header .links div a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.header .profile {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    background-color: var(--img_color);
    border-radius: 50%;
}

/*--------------------------------------- MAP ------------------------*/
.map {
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 28rem;
    width: 82rem;
    background-color: var(--img_color);
}

.map_main_img {
    height: 28rem;
    width: 82rem;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

/*-------------------------------------- FESTS ---------------------------------*/
.events {
    padding: 2rem;
}

.event_list {
    margin-left: 2rem;
}

/* h1 */
.c_events .current_events {
    font-size: 2rem;
    font-weight: 100;
    padding: 0.5rem;
    width: 70%;
    background-color: var(--header_blue);
}

.event_s_i {
    display: flex;
    text-decoration: none;
    color: black;
}

.event_s_i img {
    width: 10rem;
    margin-right: 1rem;
}

/* h2 */
.e_n {
    font-weight: 300;
}

.eh_info div {
    padding: 0.1rem;
}

.e_d,
.e_l,
.e_a {
    padding: 0.2rem;
}

.sm_btn_div {
    text-align: center;
}

.sm {
    padding: 0.5rem 2rem;
    margin: 2rem;
}


/*-------------------------------------------------------- EVENT PAGE -------------------------------------------------------*/
.event_content {
    margin: 0rem 7rem;
}

.event_subcontent {
    padding: 1rem 0rem;
}

.event_subcontent .e_sc_div {
    padding-bottom: 1rem;
}

.e_sc_div div {
    padding: 0.2rem;
}

.float_right {
    float: right;
}

.float_right img {
    width: 30rem;
}

.eh_info {
    display: flex;
}

.row {
    display: flex;
}

.col {
    margin: 1rem;
    width: 100%;
    height: 15rem;
    background-color: var(--img_color);
}

.e_head_img {
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
    background-color: var(--img_color);
}

.event_name_h {
    font-size: 2rem;
    font-weight: 100;
    width: 70%;
}

.e_h2 {
    font-weight: 100;
}

/*---------------------------------- SIGN UP PAGE ------------------------------------*/
/*-------------------------- content -------------------------*/
.signup_form {
    margin: 0rem 10rem;
}

.grid_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input_img {
    padding: 2rem 0rem;
}

.input_txt {
    border-radius: 0.5rem;
    width: 50%;
}

input {
    margin: 0.2rem;
    padding: 0.5rem;
}

.upload_txt {
    font-size: 1.1rem;
}

.input_file::-webkit-file-upload-button {
    visibility: hidden;
}

.input_file::before {
    content: 'Upload';
    border: grey 1px solid;
    border-radius: 3px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-weight: 100;
}

.input_file:hover::before {
    border-color: black;
}
.confirm_div{
    text-align: center;
    margin-bottom: 3rem;
}
.text_inline div {
    padding: 0.5rem 0rem;
}
.con_btn{
    padding: 1rem 4rem;
}

/*---------------------------------- LOG IN PAGE ------------------------------------*/
/*-------------------------- content -------------------------*/
.login_form {
    margin: 3rem 7rem;
}

.login_form .login_heading {
    font-weight: 200;
    font-size: 2rem;
}

.login_form .from_divs {
    /* font-size: 1rem; */
}

.input_txt {

    /* font-size: 10px; */
}

.login_form .small_text {
    font-size: 7px;
    color: var(--img_color);
}

.login_form .small_text a {
    color: var(--img_color);
    text-decoration: none;
    font-size: 7px;
}

/*---------------------------------- EVENT REGISTERATION PAGE ------------------------------------*/
.e_d {
    display: grid;
}

.text_inline1 {
    width: 100%;
    grid-template-columns: repeat(1, fr);
}

.text_inline2 {
    display: grid;
    grid-template-columns: repeat(2, fr);
}

.text_inline2 input {
    width: 50%;
    grid-template-columns: repeat(2, fr);
}

.text_inline3 {
    grid-template-columns: repeat(3, fr);
}

.text_inline4 {
    grid-template-columns: repeat(4, fr);
}

/*----------------------------------------------- FOOTER ---------------------------------------*/
.footer {
    height: 20rem;
    width: 100%;
    background-color: var(--header_blue);
}